 .text-w {
     color: #fff !important;
     font-size: 15px;
 }

 .text-b {
     color: black!important;
     font-size: 16px;
 }

 .btn.primary-radius {
     margin: 13px;
     margin-left: 50px!important;
     margin-right: 50px!important;
     padding-left: 35px!important;
     padding-right: 35px!important;
     border-radius: 10px;
}